<div class="short-hero-image-row">
  <div class="short-hero-image-outer text-center">
    <div class="short-hero-image-inner text-center">
      <%= image_tag 'Background 12 Short.jpg', class: "short-hero-image",alt: "View of Golf Course, Ocean, and Dunes" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-short-hero-image">
  <div class="container">
    <div id="swing_book_new" class="text-center">
      <h1 style="padding-top: 15px">Genetic Golf Full Swing Book</h1>
      <h2 style="padding-top: 50px">Comes with Free Genetic Golf ID Evaluation Test</h2>
    </div>
  </div> <!-- container -->
</div> <!-- overlap-short-hero-image -->

<div class="container">
  <div class="buffer-25"></div>
  <div id="per_quiz_pretext" class="content-text">
      <p>The Genetic Golf Swing Book with ID Evaluation is a true paradigm shift in golf and a real game changer. It is personalized for you, your body, and it will identify your best golf swing. We run personalized tests, we don’t guess at what works best for you.
      <br><br><span class="red-text">Find your Genetic ID code and find your best golf game! No one else does this!</span>
      <br><br>Most golf books and teaching pros have a specific swing model that they want you to follow. Yet they don’t take into consideration your body, your best neurokenetic motion, your personality, your mental thoughts, and yes your true golf genetics.
      <br><br>After using Genetic Golf ID Evaluation and Swing Book you will find your best way to swing the club that is natural to you and your body. Your golf game will improve an you will play better golf and have more fun. Find Your Game!
      <br><br>We truly believe no two people and no two golfers are the exactly the same. Just look at the best tour pros of all time.
      <br><br>Only 7 PGA tour pros and 6 LPGA tour pros have won 50 plus PGA tour events. None of them had the perfect swing or even the same swing, but they all had a golf game that matched them and their body.
      <br><br>How can one tell you how to set up and swing the club before they even know your genetic makeup? We all have different minds, body structures, strengths, and skills, along with various weaknesses. That is why it is so important to identify your true golf genetics for you to play your best golf.
      <br><br>So take the Genetic Golf evaluation to find your game!</p>
    <h4>How it Works</h4>
      <p><ol>
        <li>You get your Genetic Golf ID Evaluation Test and Golf Swing book to identify your personal genetic golf code.</li>
        <li>Our test determines a personal ID code that matches you and your body up with your best golf swing.</li>
        <li>You input your code online and start having fun with a personalized swing motion that matches you.</li>
        <li>Get personalized golf tips and advice that are designed just for you and your body! Practice your Genetic Golf ID and start improving your golf game by hitting more great shots!</li>
      </ol></p>
    <h4>Get your Genetic Golf Full Swing book and free Personal ID test today!</h4>
  </div>

  <div id="buy_full_swing_book" class="buy-now">
    <h1>Price: $X.XX</h1>
  </div>
</div> <!-- container -->

<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 12 2.jpg', class: "hero-image",alt: "View of Golf Course" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="buffer-50"></div>
    <h1 class="text-center">Already have your code?</h1>
  <div class="buffer-25"></div>
  <div class="container col-xs-10 col-xs-push-1" style="background-color: rgba(235, 235, 235, 0.7) !important">
    <div class="buffer-25"></div>
    <div id="enter_swing_code" class="enter_book_code text-center">
      <h2 style="color: black">Add your code to your profile now!</h2>
      <%= render partial: "quiz", locals: { url: swing_books_path, method: :post } %>
    </div>
  </div> <!-- opaque container -->
</div> <!-- overlap-hero-image -->
