<div class="container">
  <h1 class="text-center" style="padding-top: 30px; color: black">Genetic Golf Full Swing Book</h1>
  <%= image_tag "graphic_golfer_silhouettes.png", class: "content-image-center" %>
  <h2 class="text-center" style="padding-top: 50px; color: black; font-weight: bolder">We don't guess, we test to find what works best for you!</h2>
  <div id="per_quiz_pretext" class="content-text">
      <p>The Genetic Golf Swing Book with ID Evaluation is a true paradigm shift in golf and a real game changer. We run personalized tests; we don’t guess at what works best for you. Everything is personalized for you, your body, and it will identify your best golf swing.
      <br><br>Most golf books, friends, and teaching pros have a specific swing model that they want you to follow. Yet they don’t take into consideration your body, your best neurokenetic motion, your personality, your thoughts, and, yes, your true golf genetics.
      <br><br>After using the Genetic Golf ID Evaluation and Swing Book you will find your best way to swing the club, the way that is natural to you and your body. Your golf game will improve and you will play better golf and have more fun.
      <br><br><strong>We truly believe no two people and no two golfers are the exactly the same. Just look at the best tour pros of all time.</strong>
      <br><br>Only 7 PGA tour pros and 6 LPGA tour pros have won 50 or more PGA tour events. None of them had the perfect swing or even the same swing, but they all had a golf game that matched them and their body.
      <br><br>How can one tell you how to set up and swing the club before they even know your genetic makeup and best neurokinetic movements? We all have different minds, body structures, strengths, and skills, along with various weaknesses. That is why it is so important to identify your true golf genetics for you to play your best golf.
    <h4>How it Works</h4>
      <p><ol>
        <li>Order your Genetic Golf ID Evaluation Test and Golf Swing book to identify your personal genetic golf code.</li>
        <li>Complete the test to determines a personal ID code that matches you and your body up with your best golf swing.</li>
        <li>Input your code below and start having fun with a personalized swing motion that matches you.</li>
        <li>Get personalized golf tips and advice that are designed just for you and your body! Practice your Genetic Golf ID and start improving your golf game by hitting more great shots!</li>
      </ol></p>
    <h4>Order your Genetic Golf Swing book and evaluation test today!</h4>
  </div>

  <div id="buy_full_swing_book" class="buy-now">
    <h1>Price: $X.XX</h1>
  </div>
</div> <!-- container -->

<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 12 2.jpg', class: "hero-image",alt: "View of Golf Course" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="buffer-50"></div>
    <h1 class="text-center" style="color: black">Already have your code?</h1>
  <div class="buffer-25"></div>
  <div class="container col-xs-10 col-xs-push-1" style="background-color: rgba(235, 235, 235, 0.7) !important">
    <div class="buffer-25"></div>
    <div id="enter_swing_code" class="enter_book_code text-center">
      <h2 style="color: black">Add your code to your profile now!</h2>
      <%= render partial: "quiz", locals: { url: swing_books_path, method: :post } %>
    </div>
  </div> <!-- opaque container -->
</div> <!-- overlap-hero-image -->
