<div class="container">
  <div id="quiz_bs_edit" class="text-center">
    <h1>Body Structure Quiz</h1>
    <h4>Retest Your Body Structure</h4>
  </div>

  <div id="quiz_bs_pretext" class="text-center">
    <h2>How to Take Your Balance Screen</h2>
    <p class="col-sm-8 col-sm-offset-2">To accomodate both right- and left-sided golfers, this test refers to the <strong>back foot</strong> is the one away from your target and <strong>forward foot</strong> as the one closest to the target (as shown below):</p>
  </div>

<%= render "quiz", url: edit_bal_quiz_path(@bal_quiz), method: :put  %>

</div>
<div class="buffer-50"></div>
