<div class="container">

<div class="text-center page-title-bar">
  <h1>Genetic Golf Private Instruction</h1>
  <h2><small></small></h2>
</div>

<div class="content-text">
  <h4>Find an instructor</h4>
    <p>We are currently certifying Genetic Golf instructors that will eventually be able to evaluate you and work with you to improve all aspects of your game.
      <br><br>Genetic Golf will evaluate you to find your best:
      <ul>
        <li>Golf Swing</li>
        <li>Short Game</li>
        <li>Putting</li>
        <li>Course Management</li>
        <li>Mental Game</li>
      </ul>
    </p>
  <h4>Types of Genetic Golf Instructors</h4>
    <p><strong>Specialty Testers: </strong>Full Swing Tester, Short Game Tester, Putting Tester, Personality Tester
    <br><strong>Instructors: </strong>Certified Genetic Golf Coach</p>
  <h4>Want to be a Genetic Golf instructor?</h4>
    <p>We always welcome passionate golf teaching professionals who want the best for their students. Join us by contacting us today!</p>
</div> <!-- content-text end -->

</div> <!-- container end -->
