<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 13.jpg', class: "hero-image",alt: "St. Andrew's Golf Course, 18th Green" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="container">
    <div class="text-center page-title-bar">
      <h1 style="padding-top: 30px">Golf Schools and Custom Programs</h1>
      <h3 style="margin-top: 20px">Finding the right coach in golf is critical to your future succes!</h3>
      <div class="buffer-50 hidden-xs"></div>
      <div class="buffer-50 hidden-xs"></div>
      <div class="buffer-25 hidden-xs"></div>
      <div class="buffer-50 visible-lg"></div>
      <p class="text-center col-sm-10 col-sm-push-1" style="color: white; font-size: 18px">At Genetic Golf we focus on you, your body, and your entire golf game. We begin with a full Genetic Golf evaluation and run specific tests to evaluate how your body performs best and establish your personal ID and Genetic Golf code. Our evaluations and solutions are personally customized to fit you, your body, and your golf game.</p>
    </div>
  </div> <!-- container -->
</div> <!-- overlap-hero-image -->

<div class="container" style="padding-top: 30px">
  <div class="content-text">
      <h4>Genetic Golf Schools</h4>
        <p>Genetic Golf schools are currently being done at <a href="http://www.golfpelicanhill.com/">The Resort at Pelican Hill</a> through Glenn Deck, founder of Genetic Golf.
        <br><br>We have several options for individual golf programs:
        <ul>
          <li>Private coaching sessions</li>
          <li>2 hour golf swing evaluations</li>
          <li>3.5 hour total golf evaluation including short game and putting</li>
        </ul>
        <br>We will be offering a few Genetic Golf Schools on select dates or we can set up a specific date for you if you have 2 or more guests.
        <br><br>You can also set up a private Genetic Golf evaluation when Glenn has openings in his schedule.
        <br><br>Contact us about upcoming schedule of events or to set up a private lesson or to create a future school date.
        </p>
        <h4>Genetic Golf Custom Events</h4>
          <p>We can also come to you and set up a custom Genetic Golf evaluation that you and your guests will be raving about. It can vary from a 2 hour evaluation up to an exclusive 3 day Genetic Golf event that covers every aspects of one's golf game, including playing with the pro each afternoon.
          <br><br>When you want to separate yourself from the others, there is Genetic Golf.
        </p>
    <%#= link_to about_contact_path do %>
      <h4 class="cta">If you want to realize your true potential and find your best game,<br><%= link_to "contact Genetic Golf", new_contact_path %>!</h4>
    <%# end %>
  </div>


</div> <!-- container end -->
