<div class="container quiz-page">
  <div id="quiz_bf_new" class="text-center">
    <h1>Body Flexibility Quiz</h1>
  </div>

 <%= render partial: "quiz", locals: { url: flex_quizzes_path, method: :post } %>

</div>
<div class="buffer-50"></div>
