<div class="container">
  <div id="quiz_bs_edit" class="text-center">
    <h1>Body Structure Quiz</h1>
    <h4>Retest Your Body Structure</h4>
  </div>

  <div id="quiz_bs_pretext" class="text-center">
    <h2>How to Take Your Body Structure Screen</h2>
    <p class="col-sm-8 col-sm-offset-2">Your body structure, height, width, arm length, leg length, trunk length, and flexibility, will effect your style of swing and the clubs you should be using!   So look at the following body types and select which one best represents you today. Please fill out the additional information so that Genetic Golf can best help you.  If your body changes over time please revise your body structure code.</p>
  </div>

<%= render "quiz", url: edit_bod_quiz_path(@bod_quiz), method: :put  %>

</div>
<div class="buffer-50"></div>
