<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 5.jpg', class: "hero-image", alt: "Sunset Over Pelican Hill Golf Course and the Ocean" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">

  <div class="buffer-50"></div>

  <div class="container bs-component text-center">
    <%= link_to new_swing_book_path, class: "no-color" do %>
       <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
         <h1>Your Genetic Full Swing</h1>
         <p>How can you know your best set up and swing without knowing your Genetic Golf ID code?</p>
         <p>You can't.</p>
         <p>Find your best swing now.</p>
       </div></div> <!-- well/container -->
    <% end %>

    <%= link_to coming_soon_short_book_path, class: "no-color" do %>
      <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
        <h1>Your Genetic Short Game</h1>
        <p>Putting and short game make up 64% of your game.</p>
        <p>Find the secret to your best short game today!</p>
      </div></div> <!-- well/container -->
    <% end %>

    <%= link_to coming_soon_putting_book_path, class: "no-color" do %>
      <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
        <h1>Your Genetic Putting Game</h1>
        <p>It's critical to be great on the green if you want lower scores.</p>
        <p>Learn how to turn 3-putts into 2-putts, and make more 1-putts.</p>
      </div></div> <!-- well/container -->
    <% end %>

</div> <!-- container bs-component -->

<script>
  $( document ).ready(function() {
      var heights = $(".well-triple").map(function() {
          return $(this).height();
      }).get(),
      maxHeight = Math.max.apply(null, heights);
      $(".well-triple").height(maxHeight);
  });
</script>
