<div class="hero-image-row">
  <div class="short-hero-image-outer text-center">
    <div class="short-hero-image-inner text-center">
      <%= image_tag 'Background 4.jpg', class: "short-hero-image",alt: "View of Golf Course, Ocean, and Dunes" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->


<div class="overlap-short-hero-image container">
  <div class="text-center page-title-bar">
    <h1 style="color: white; margin-top: 55px">Personalized Golf Tips Newsletter</h1>
    <h3 class="black-outline" style="color: white; margin-top: 50px">Your golf game is as unique as you are.
      <br>Shouldn't your golf instructions be personalized to fit you?</h3>
  </div>
</div>

<div class="container">
  <div class="buffer-25"></div>

  <div id="per_quiz_pretext" class="content-text">
      <p>Most golf websites and golf newsletters provide a generic golf tip that is designed to fit everyone, that’s crazy when it comes to golf.</p>
      <%= image_tag "graphic_mind_gears.jpg", class: "pull-right col-xs-4 col-md-3 hidden-lg", style: "margin-left: 15px"%>
        <p><strong>The greatest golfers of all time had different golf swings, various putting strokes, and none had the perfect swing. </strong>
        The key to their success was that they had a swing and game that matched their genetic code.  Why guess when you can test what works best for you?
        <br><br><strong>Genetic Golf test looks at over 6 billion options to identify your personal genetic golf code.</strong>
        The odds of getting your swing code right without testing are very small. You have better chance of winning the Power Ball Lottery than finding your best golf swing by trial and error. Genetic Golf changes this. We solve the puzzle of what works best for you by identifying your personal genetic golf code and then we coach you with personalized newsletters that match your personal genetic code!
        <br><br><strong>Your genetic code is just like one’s cell phone number, dial up the right numbers and you’re connected, yet dial one wrong number and you get “sorry, wrong number, try again”. </strong>
        Don’t waste your time, money, and effort working on a golf tip, or focusing on the perfect golf swing that doesn’t fit you, be smart and let Genetic Golf help you.
        <br><br><strong>Genetic Golf test, ID codes, and personalized newsletters focuses on a four step process that truly benefits you and your game:</strong></p>
        <ol>
          <li>Test your mind, body, and equipment to identify your personal code</li>
          <li>Match your golf game to your best neurokinetic motion and code</li>
          <li>Identify what skills you need help on to improve your golf game</li>
          <li>Help build confidence, fun, and trust in golf</li>
        </ol>
        <p>If you truly want to improve your golf skills, your golf game, and have more fun, get your genetic golf ID code and sign up for your personalized newsletters!</p>
        <div class="row">
          <%= image_tag "graphic_mind_gears.jpg", class: "text-center visible-lg col-lg-2 col-lg-push-5"%>
        </div> <!-- row -->
    <h4 class="cta">Get your personalized newsletter now!</h4>
  </div>

  <div id="buy_full_swing_book" class="purchase">
    <h1>Price: $X.XX</h1>
  </div> <!-- content-text end -->
</div> <!-- container end -->

<div class="buffer-50"></div>
