<div class="container">

  <div class="text-center page-title-bar">
    <h1>Personalized Golf Tips Newsletter</h1>
    <h2><small>Your golf game is as unique as you are.<br>Shouldn't your golf tips be personalized to fit you?</small></h2>
  </div>

  <div id="per_quiz_pretext" class="content-text">
      <p>Most golf websites and golf newsletters provide generic golf tips that are designed to fit everyone.
        <br><br><strong>That’s crazy when it comes to golf.</strong>
        <br><br>The same golf prescription does not work for everyone; a swing tip might be magical for one, yet it can be tragic for the next person.
        <br><br>Your improvement is dependent on evaluating your body, knowing what skills you need help on, and matching your swing to your body and your personality.
        <br><br>Genetic Golf everything is based on your personal ID code along with your body’s flexibility and balance code. We provide you with golf tips that actually benefit you, for they truly match you based on your test results.
        <br><br><em>Here is a simple example:
        <br><br>I drive a BMW X5, when it needs to be repaired I wouldn’t take it to the Ford, GM, Toyota, or Porsche dealership for repair. They don’t have the parts that will fix my car make and model. If I go to the Ford dealership they will say sorry we don’t work on that model car, but they will try to sell me a new Ford, that’s their model and that what they have parts for. All these manufactures make great automobiles, yet you have to have specific parts that fit the specific model in order for it to run smoothly.  There are numerous types of golf swings and putting strokes. Genetic Golf identifies your best golf model that personally fits you, and provides you with personalized golf tips and instruction that matches your model/personal genetic golf code.</em>
        <br><br>So why would you apply a generic golf tip to your game if it doesn’t fit you or you’re body or your genetic golf model?
        <br><br>Identifying your Genetic Golf code is a true paradigm shift. We don’t guess, we test you to find your personal golf game ID and swing code. All the greatest golfers had a different golf ID code. You have to know your personal Genetic Golf ID!
        <br><br>Spending time on your game by working on wrong motions is not beneficial to you or your game. Genetic Golf changes this.
        <br><br>The newsletter you receive from us truly fits you, your body, and your model because it matches your personal Genetic Golf ID code. So if you truly want to improve your golf game and have more fun, just sign up for your personalized golf tips. Just remember it’s hard to unlock a safe unless you have the correct code.  Unlock your personal Genetic Golf ID Code and find your best golf game.
      </p>
    <h4 class="cta">Sign up for your personalized newsletter now!</h4>
  </div>

  <div id="buy_full_swing_book" class="purchase">
    <h1>Price: $X.XX</h1>
  </div> <!-- content-text end -->

</div> <!-- container end -->

<div class="buffer-50"></div>
