<div class="container">
  <div class="text-center">
    <h1><strong>Step 1:</strong> Your Personality</h1>
  </div> <!-- text center heading -->

  <div class="row">
    <div class="col-xs-8">
      <h4>You can't listen to generic golf tips that do not take your individual personality into account. <strong>Test your personality</strong> to gain access to golf tips that <strong>truly fit you</strong> and are guaranteed to better your game more than any one-size-fits-all approach.</h4>
      <h4>Test your personality now!</h4>

      <%= render "quiz", url: new_per_quiz_path, method: :put  %>

    </div> <!-- text column -->
    <div class="col-xs-4">
      <%= image_tag "graphic_mind_gears.jpg", class: "slideRight", style: "width: 100%; max-width: 300px"%>
    </div> <!-- image -->
  </div> <!-- intro text row -->
</div> <!-- container -->


<div class="hvr-box-shadow-outset btn-custom">Test Btn</div>
