<div class="container quiz-page">
  <div id="per_quiz_edit" class="text-center">
    <h1>Retest Your Personality</h1>
    <h2><small>Shouldn't your golf tips be personalized to fit you?<br>Get your Personal Profile ID now!</small></h2>
  </div>

  <div id="per_quiz_pretext" class="content-text">
    <h4>One Size Doesn't Fit All in Golf</h4>
      <p>Your golf game is as unique as you are, yet most golf websites and golf newsletters provide generic golf tips that are designed to fit everyone. <strong>That’s crazy!</strong>
      <br><br>At Genetic Golf everything is based on your Genetic Golf Personal ID code, along with your body’s structure, neurokinetics, flexibility and balance code. We can provide you with golf tips that actually benefit you because they are based on your individual test results and truly fit you.</p>
    <h4>Get Your Personal Profile ID</h4>
      <p>Your personality has a direct effect on how you learn best, your mental process, how you perform best, and how you can play your best golf. That makes it the first component in your Genetic Golf ID code.
      <br><br>Your ID is the master control that everything runs through. This code is how we know the best path for you to develop your golf skills.</p>
    <h4>Test Your Personality</h4>
      <p>Take the two free Personal ID tests shown below to identify your personality ID.
      <br><br>This is an important aspect of your learning style and will determine how effective your personalized tips are, so please try to be honest in answering these tests.</p>
  </div>


<%= render "quiz", url: edit_per_quiz_path(@per_quiz), method: :put  %>

</div>
<div class="buffer-50"></div>
