<div class="short-hero-image-row">
  <div class="short-hero-image-outer text-center">
    <div class="short-hero-image-inner text-center">
      <%= image_tag 'Background 3 Short.jpg', class: "short-hero-image",alt: "View of Golf Course, Ocean, and Dunes" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->



<div class="overlap-short-hero-image">
  <div id="per_quiz_new" class="text-center">
    <h1>Test Your Personality</h1>
    <h3>Shouldn't your golf tips be personalized to fit you?
      <br>Get your Personal Profile ID now!</h3>
  </div>
</div>

<div class="container">
  <div id="per_quiz_pretext" class="content-text">
    <h4>Get Your Personal Profile ID</h4>
      <p>The best players in the world have different personalities, very few golfers are the same.  Your personality has a direct effect on how you learn best, your mental process, how you perform best, and how you can play your best golf. That makes it the first component in your Genetic Golf ID code.
      </p>
    <h4>Test Your Personality</h4>
      <p>Your brain is the master control that everything runs through. Knowing your ID code is critical to identifying the best path for you to develop your golf skills.
        <br><br>Take the two free Personal ID tests shown below to identify your personality ID.  It’s important to be honest in answering these test, for they determine how your personalized coaching benefits you and your game.
      </p>
  </div> <!-- content-text -->

<%= render partial: "quiz", locals: { url: per_quizzes_path, method: :post } %>

</div> <!-- container -->
<div class="buffer-50"></div>
