<div class="container">
  <div id="quiz_bs_new" class="text-center">
    <h1>Body Structure Quiz</h1>
  </div>

  <div id="quiz_bs_pretext" class="text-center">
    <h2>How to Take Your Balance Screen</h2>
    <p class="col-sm-8 col-sm-offset-2">To accomodate both right- and left-sided golfers, this test refers to the <strong>back foot</strong> is the one away from your target and <strong>forward foot</strong> as the one closest to the target (as shown below):</p>
  </div>

<%= render partial: "quiz", locals: { quiz: @quiz_bs } %>

</div>
<div class="buffer-50"></div>
