<div class="container">

  <div class="text-center page-title-bar">
    <h1>Your Fitness Plan</h1>
    <h2><small>Information coming soon!</small></h2>
  </div>

  <div class="content-text">
        <p>
      </p>

  </div>

</div> <!-- container end -->
