<div class="container">
  <h1 class="text-center">Fitness Quiz</h1>
  <h2>Retest Your Fitness Levels:</h2>
</div>

<div class="container">
  <%= render partial: "fit_quizzes/quiz", locals: { fit_quiz: @fit_quiz } %>
</div>
