<div class="container">

  <div id="swing_book_new" class="text-center">
    <h1>Genetic Golf Short Game Book</h1>
    <h2><small>Coming Later in 2017</small></h2>
  </div>

  <div id="per_quiz_pretext" class="content-text">
      <p>Here's your chance to improve your putting game!
        <br><br>Genetic Golf will test you to find your best putting motion, improve your speed control, green reading skills, and find equipment that match you and your body.
        <br><br>Genetic Golf will evaluate you to find your best:
        <ul>
          <li>Aim and Alignment</li>
          <li>Putting Motion</li>
          <li>Speed Control</li>
          <li>Green Reading Skills</li>
          <li>Putter that Matches Your Body</li>
        </ul>
        Great putters see the line, control both direction and distance, and read greens well, thus making more putts and avoiding 3 putts. Genetic Golf will provide you the skills to make this happen for you.
        <br><br>Since putting and short game make up 64% of your golf game, it’s critical to be great here if you want lower your scores out on the golf course.</p>
  </div>

  <div id="buy_full_swing_book" class="buy-now">
    <h1>Available Late 2016</h1>
  </div>

<!--
  <div class="enter_book_code">
    <h2>Already have your code? Add it to your profile now!</h2>
    <%#= render partial: "quiz", locals: { url: short_books_path, method: :post } %>
  </div>
-->

</div>
