<div class="container">

  <div id="swing_book_new" class="text-center">
    <h1>Genetic Golf Short Game Book</h1>
    <h2><small>Coming in 2017</small></h2>
  </div>

  <div id="per_quiz_pretext" class="content-text">
      <p>Genetic Golf testing will help you find your best short game.
        <br><br>We focus on testing fundamentals that match both you and your body to your short games skill set.
        <br><br>A great short game requires that you control direction, trajectory, and distance from 75 yards and in. We find the code and skill set that works best for you to make this happen.
        <br><br>Since putting and short game make up 64% of your golf game, it is critical to be good here if you want to lower your score.
        <br><br>A great short game makes up for a few off line shots out on the golf course and changes one’s score.
        <br><br>Learn how to turn 3 shots into 2 shots. Coming this summer.</p>
  </div>

  <div id="buy_full_swing_book" class="buy-now">
    <h1>Available 2017</h1>
  </div>

<!--
  <div class="enter_book_code">
    <h2>Already have your code? Add it to your profile now!</h2>
    <%#= render partial: "quiz", locals: { url: short_books_path, method: :post } %>
  </div>
-->

</div>
