<div class="container">

  <div class="text-center page-title-bar">
    <h1>Staff and Awards</h1>
    <h2><small>Information coming soon!</small></h2>
  </div>

  <div class="content-text">
        <p>
      </p>

    <%= link_to welcome_game_path do %>
      <h4 class="cta">Find your personalized Genetic Golf swing today!</h4>
    <% end %>
  </div>

</div> <!-- container end -->
