@import "bootstrap-sprockets";
@import "bootstrap";

.very-top {
	padding-top: 10px;
	padding-right: 25px;
	height: 40px;
}

.very-top img {
	height: 100px;
	margin-top: 30px;
	margin-left: 60px;
	width: auto;
}

/* Small Screens Only */
@media screen and (max-width: 768px) {
	.very-top img {
		height: 70px;
		margin-top: 0px;
		margin-left: 25px;
		width: auto;
	}
}

.buffer-15 {
	display: block;
	height: 15px;
	width: 100%;
}

.buffer-25 {
	display: block;
	height: 25px;
	width: 100%;
}

.buffer-50 {
	display: block;
	height: 50px;
	width: 100%;
}
.left-padding-30 {
	padding-left: 30px;
}

body {
	font-family: 'Muli', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
	font-weight: 100;
}

h1 {
	font-family: 'Cinzel', Garamond, 'Big Caslon', 'Times New Roman', serif !important;;
}

a {
  color: #567E3A !important;
}

.no-color {
	color: #000000 !important;
}

a:hover {
  color: #000000;
}

.spacer-15 {
	margin-top: 15px
}

.full-width {
    padding: 0;
		width: 100%;
}

.bottom-pad-15 {
	padding-bottom: 15px;
}

.red-text {
	text: red;
}

.black-outline {
	color: white !important;
	text-shadow:
	-1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px 1px 0 #000,
		1px 1px 0 #000 !important;
}

.white-outline {
	text-shadow:
	-1px -1px 0 #FFF,
	 1px -1px 0 #FFF,
	 -1px 1px 0 #FFF,
		1px 1px 0 #FFF !important;
}

.btn-custom {
	font-family: 'Cinzel', Garamond, 'Big Caslon', 'Times New Roman', serif !important;;
	border: solid thin #c4c4c4;
	background-color: #f5f5f5;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn-custom:hover {
	background-color: white;
	color: #567e3a;
}









/* HEADER */

#header-detail img {
	max-width: 100px;
}


/* Mini Screens Only */
@media screen and (max-width: 550px) {
	#header-detail img {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#header-detail h1 {
		font-size: 18px;
	}

	#header-detail p {
		font-size: 10px;
	}
}

#header-detail img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}











/* NAVBAR */
.nav {
	background-color: #f5f5f5;
	height: 60px;
	width: 100%;
}

.nav > li {
	font-family: 'Cinzel', Garamond, 'Big Caslon', 'Times New Roman', serif !important;;
	width: 16.9%;
	text-align: center;
	height: 60px
}

.dropdown li {
	height: 60px;
}

.dropdown-menu li {
	height: 30px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }


/* OLD NAV CSS */
#MainNav ul#navlist li:hover {
	background-color: #E5E5E5;
}

#MainNav ul#subnavlist {
	display: none;
	background-color: rgba(230,230,230,0.7);
}

#MainNav ul#subnavlist li {
	font-family: 'Muli', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	width: 260px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #FFFFFF;
	border: 2px solid #E5E5E5;
	height: 40px;
	border-radius: 0px;
}

#MainNav ul#subnavlist li a {
	background-color: #FFFFFF;
	padding: 2px;
	margin: 0px;
	font-size: 14px;
	position: relative;
	line-height: 35px;
}

#MainNav ul#navlist li:hover ul#subnavlist {
	display: block;
	width: 280px;
	position: absolute;
	z-index: 200;
}

#MainNav ul#navlist li:hover ul#subnavlist li a {
	width: 90%;
	text-align: left;
	margin: 0;
	background-color: transparent;
}

#MainNav ul#navlist li:hover ul#subnavlist li:hover {
	width: 260px;
	margin-top: 5px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #E5E5E5;
	border-radius: 0px;
}


#MainNav ul#navlist li:hover ul#subnavlist li:hover a {
	color: #001E00;
}


/* HAMBURGER NAVMENU */
@media screen and (max-width: 768px) {
	.nav > li {
		width: 100%;
		text-align: center;
		height: 40px
	}

	ul#navlist {
		height: 40px;
	}

	.dropdown br {
		display: none;
	}

	.dropdown:hover .dropdown-menu {
			display: none !important;
	 }

	.dropdown:hover #ulsubnavlist {
	    display: none !important;
	 }
}












/* CONTENT */
.page-title-bar h1 {
	margin-bottom: -20px !important;
}

.page-title-bar h2 {
	margin-bottom: 30px;
}

.content-text h4 {
	margin-top: 30px;
	font: #567e3a;
	font-family: 'Cinzel', Garamond, 'Big Caslon', 'Times New Roman', serif !important;
}

.cta {
	font-weight: bolder;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	font-size: 24px;
}

a.black-text {
	font: #000000;
}

.well-icon {
	height: 70px;
}

.homepage-subheading {
	margin-top: 3px;
}

.teaser-well {
	background-color: rgba(235, 235, 235, 0.8) !important;
	border: none !important;
	border-radius: 0px !important;
	padding-top: 10px !important;
	padding-bottom: 20px !important;
}

.teaser-well p {
	font-size: 16px !important;
}

.teaser-well:hover {
	background-color: rgba(255, 255, 255, 0.8) !important;
}

.teaser-well h1 {
	font-size: 24px;
	color: black !important;
}

.teaser-well h2 {
	font: #567e3a;
	font-size: 20px;
	line-height: 1.8;
}

.product-listing {
	padding-bottom: 30px;
	border-bottom: solid thin #000000;
	margin-bottom: 30px;
	display: block;
	border-top: none;
}

.product-image {
	max-width: 100%;
	max-height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.product-image-div {
	display: inline-block;
	vertical-align: top;
}

.product-text {
	display: inline-block;
	vertical-align: top;
}

/* Extra small Screens Only */
@media screen and (max-width: 768px) {
	.product-listing h4 {
		text-align: center;
	}

	.product-listing button {
		display: block;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.product-image-div {
		width: 100%;
	}
}

.image-description {
	text-align: center;
	width: 70%;
	margin-left: 15%;
}

.fitting-hero {
	display: block;
	width: 50%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-top: solid thin #f5f5f5;
	border-bottom: solid thin #f5f5f5;
}

.ping-logo {
	display: block;
	width: 15%;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-arrows {
	margin-top: -40px;
}

.bottom-arrows h4 {
	font-family: 'Cinzel', Garamond, 'Big Caslon', 'Times New Roman', serif !important;
	margin: 20px;
}

.fitting-arrow {
	width: 20%;
	max-width: 300px;
}

.field {
	margin-bottom: 40px;
}

.content-image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	width: 66%;
	border-top: solid thin #f5f5f5;
	border-bottom: solid thin #f5f5f5;
}

.awards_img {
  height: 80px;
  padding: 10px;
}







/* QUIZZES */
.radio input[type="radio"] {
	margin-left: 5px;
}

.personality-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
	margin-bottom: 20px;
}

.input-1 {
	display: inline-block !important;
	width: 35px !important;
	height: 50px;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 50px;
}

.radio {
	margin-left: 50px;
}

.horizontal-radio-group {
	margin-left: 25px;
}

.horizontal-radio-group label {
	padding-left: 5px;
	padding-right: 20px;
}

.form-group h3 {
	margin-top: 15px !important;
}

.quiz-question {
	background-color: rgba(235, 235, 235, 0.7) !important;
	margin-bottom: 25px;
}

.quiz-question .form-group h3 {
	color: black !important;
	text-align: center;
}










/* FOOTER */
* {
	margin: 0;
}

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
.wrapper {
  min-height: 100%;
  height: auto !important;
  /* Negative indent footer by its height */
  margin: 0 auto -450px;
}

/* Set the fixed height of the footer here */
.footer, .push {
  height: 450px;
}



/*  STICKY FOOTER */

.footer {
  background-color: #f5f5f5;
	padding-top: 10px;
}

.sf-checkbox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height: 20px;
}

.sm-icon {
		display: inline-block;
		height: 20px;
		margin-left: 10px;
		margin-right: 10px;
}

.sm-unit {
	line-height: 20px;
}

.sf-step {
	text-align: center;
}

#sf-steps {
	margin-bottom: 20px !important;
}


/* Mini Screens Only */
@media screen and (max-width: 550px) {
	.sf-checkbox {
		display: inline-block;
		height: 20px;
	}

	.sf-step {
		text-align: left;
		line-height: 1;
	}

	.sm-none {
		display: none;
	}

	.sm-unit {
		display: inline-block;
	}

	#sf-philosophy p {
		font-size: 12px;
	}

	.wrapper {
	  margin: 0 auto -650px;
	}

	.footer, .push {
	  height: 650px;
	}

	.fixed-footer p {
		font-size: 12px;
	}

	.f-footer-logo {
		height:15px;
	}
}

/* Small Screens Only */
@media screen and (min-width: 551px) and (max-width: 768px) {
	.sm-none {
		display: none;
	}

	.sf-checkbox {
		display: inline-block;
	}

	.sm-unit {
		display: inline-block;
	}

	.wrapper {
		margin: 0 auto -620px;
	}

	.footer, .push {
		height: 620px;
	}
}



.fixed-footer {
	position: fixed;
	text-align: center;
	padding-top: 10px;
	height: 80px;
	bottom: 0;
	width: 100%;
	background-color: rgba(300,300,300,0.8);
}

.f-footer-logo {
	height: 30px;
}

/* FIXED FOOTER for Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.fixed-footer {
		text-align: left;
		line-height: 70px;
	}

	.f-footer-logo {
		height: 40px;
	}
}

















/* HEROS */
.hero-image-row {
   margin-top: -100px;
   overflow-x: hidden !important;
   width: 100% !important;
 }

.hero-image-outer {
   width: 300%;
   height: 500px;
   overflow-y: hidden !important;
 }

 .hero-image-inner {
   width: 66%;
   overflow-x: hidden !important;
 }

 .hero-image {
   height: 500px;
   margin-left: -50%;
   z-index: 0 !important;
 }

.overlap-hero-image {
	 margin-top: -500px;
	 height: 500px;
}

.overlap-hero-image h1 {
	color: white;
}

.overlap-hero-image h2 {
	color: white;
	margin-top: 25px;
}

.overlap-hero-image h3 {
 margin-top: 140px;
 color: #FFFFFF !important;
 line-height: 1.5;
}

.overlap-hero-image h3 a {
	color: white !important;
	text-decoration: underline !important;
}

.overlap-hero-image h4 {
 color: #FFFFFF !important;
 line-height: 1.5;
}

 @media screen and (min-width: 1100px) {
   .hero-image-outer {
     width: 100%;
   }

   .hero-image-inner {
     width: 100%;
   }

   .hero-image {
     width: 100%;
     height: auto;
     margin-left: 0%;
   }
 }

 @media screen and (max-width: 768px) {
		.overlap-hero-image {
			overflow: scroll !important;
		}
	}





 /* Tall Heros */
 .tall-hero-image-row {
    margin-top: -100px;
    overflow-x: hidden !important;
    width: 100% !important;
  }

 .tall-hero-image-outer {
    width: 300%;
    height: 800px;
    overflow-y: hidden !important;
  }

  .tall-hero-image-inner {
    width: 66%;
    overflow-x: hidden !important;
  }

  .tall-hero-image {
    height: 800px;
    margin-left: -50%;
    z-index: 0 !important;
  }

 .overlap-tall-hero-image {
 	 margin-top: -800px;
 	 height: 800px;
 }

.overlap-tall-hero-image h1 {
	color: white;
}

.overlap-tall-hero-image h2 {
	color: white;
}

 .overlap-tall-hero-image h3 {
  margin-top: 140px;
  color: #FFFFFF !important;
  line-height: 1.5;
 }

  @media screen and (min-width: 1100px) {
    .tall-hero-image-outer {
      width: 100%;
    }

    .tall-hero-image-inner {
      width: 100%;
    }

    .tall-hero-image {
      width: 100%;
      height: auto;
      margin-left: 0%;
    }
  }

	@media screen and (max-width: 768px) {
    .overlap-tall-hero-image {
      overflow: scroll !important;
    }
  }

	.overlap-hero-scroll {
		overflow: scroll !important;
	}





/* Short Hero */
.short-hero-image-row {
   margin-top: -100px;
   overflow-x: hidden !important;
   width: 100% !important;
 }

.short-hero-image-outer {
   width: 300%;
   height: 300px;
   overflow-y: hidden !important;
 }

 .short-hero-image-inner {
   width: 66%;
   overflow-x: hidden !important;
 }

 .short-hero-image {
   height: 300px;
   margin-left: -50%;
   z-index: 0 !important;
 }

 @media screen and (min-width: 1100px) {
   .short-hero-image-outer {
     width: 100%;
   }

   .short-hero-image-inner {
     width: 100%;
   }

   .short-hero-image {
     width: 100%;
     height: auto;
     margin-left: 0%;
   }
 }

.overlap-short-hero-image {
	margin-top: -290px;
	height: 300px;
	font-weight: 400;
}

.overlap-short-hero-image h3 {
	margin-top: 120px;
	color: #FFFFFF !important;
}

.overlap-short-hero-image h1 {
	color: white;
}

.overlap-short-hero-image h2 {
	color: white;
}

@media screen and (max-width: 768px) {
	.overlap-short-hero-image {
		overflow: scroll !important;
	}
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
